<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
          <li class="previous">
            <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Previous Post</a>
          </li>
        {{ end }}
        {{ if .NextInSection }}
          <li class="next">
            <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Next Post &rarr;</a>
          </li>
        {{ end }}
      </ul>

       <div class="pure-g" style="margin-bottom:1em">

   <div class="pure-u-1-2">
   <p style="text-align:right">This content is open source. 
   Please <a href="https://github.com/igorkulman/coding-journal/edit/master/content/post/{{replace .FullFilePath "post/" "" }}" title="Help improve article {{ .FullFilePath }}">help improve it</a>.</p>
  </div>
</div>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">                  
            <button id="show-comments" class="btn btn-default" type="button">Show <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">comments</span></button>
            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_config = function () {
              this.page.url = '{{ trim .Permalink "/" }}';
            };

          </script>
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
