table tr, table tr th, table tr td {
  border: 0px;
}

.about-icon {
  font-size: 24px;
  position: absolute;
  left: -40px;
  margin-top: 5px;
}

.about-text {
  position: relative;
  margin-left: 30px;
}

.pure-img, .pure-img-width {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0;
  margin-bottom: 1em
}

body {
  display: initial;
}

h4.see-also {
  margin-top: 20px
}

.disqus-comments {
  margin-top: 20px;
}

.highlight tr, .highlight pre {
  border: none;
}

.highlight pre {
  border-top-left-radius: 4px;
  border-top-right-radius: unset;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: unset;
  overflow: auto;
}

.highlight pre {
  border-radius: unset;
}

.highlight pre code {
  white-space: pre;
}
section.issues {    
    padding: 10px 20px;
    border-left: 10px solid #777;
    background-color: #F5F5F5;
}

.placeholder {
  background-color: #f6f6f6;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.placeholder img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

.placeholder img.loaded {
  opacity: 1;
}

.image_placeholder{  
  display: block;
}