{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                
                <section class="post">
                    <header class="post-header">

                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>

                      
                    </header>

                  
                    <div class="post-description">
                       <p>The requested page could notbe found. Start fresh on the <a href="/">home page</a> or just <a href="/contact">contact me</a>.</p>
                    </div>


                    

                    
                </section>
            </div>
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}
</body>
</html>
