{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
    	
    	
        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                {{ $paginator := .Paginate (where .Data.Pages "Section" "projects") }}
                {{ range .Paginator.Pages }}
                <h1 class="content-subhead">{{ .Params.period }}</h1>
                <section class="post space">
                    <header class="post-header">

                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>

                       
                    </header>

                    <div class="post-description">
                       <p>{{ .Summary }}</p>

                        <p>
                        
                       <img src="{{ .Params.image }}" alt="{{ .Title }}" class="pure-img" >
                       </p>                

                        <p>
                         {{ if isset .Params "company" }} Contracted by: {{ .Params.company }} <br />  {{ end }}
                       {{ if isset .Params "link" }} {{ .Params.linkactiontitle }}: <a href="{{ .Params.link }}">{{ .Params.linkaction }}</a>  {{ end }}
                       </p>
                    </div>
                </section>
                {{ end }}
            </div>
            
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}

</body>
</html>
