{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
    	
    	<h1>Projects</h1>
		<p>List of (not only) Windows Phone and Windows projects I worked on. Listed from most recent to oldest.</p>

        <div>
            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                {{ $paginator := .Paginate (where .Data.Pages "Section" "projects") }}
                {{ range .Paginator.Pages }}
                <h1 class="content-subhead space">{{ .Params.Period }}</h1>
                <section class="post">
                    <header class="post-header">

                        <a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a>

                       
                    </header>

                    <div class="post-description">
                       <p>{{ .Summary }}</p>

                        <p>
                       <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="{{ .Title }}" data-src="{{ .Params.image }}">
                       </p>                

                       {{ if isset .Params "link" }} {{ .Params.linkactiontitle }}: <a href="{{ .Params.link }}">{{ .Params.linkaction }}</a>  {{ end }}
                    </div>
                </section>
                {{ end }}
            </div>
            
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}

<script>
function init() {
var imgDefer = document.getElementsByTagName('img');
for (var i=0; i<imgDefer.length; i++) {
if(imgDefer[i].getAttribute('data-src')) {
imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
} } }
window.onload = init;
</script>
</body>
</html>
